// colors
$text-color: #4A4A4A;
$bg-color: #F3F7FA;
$primary: #2196F3;
$primary-bg: #F1FCFF;
$grey: #A0B0B9;

//typography
$h1: 48px;
$h2: 32px;
$h3: 24px;

$body-font-family: "Open Sans", sans-serif;
$heading-font-family: "Open Sans", sans-serif;

$border-radius: 5px;
$border-color: #DFE5EC;

$space-1: 10px;
$space-2: 20px; 
$space-3: 30px;
$space-4: 40px;

$button-height: 50px;